<!-- ABOUT US -->
<header class="section-header">
  <h3>About Buildy</h3>
</header>

<section class="about-us" id="about">
  <mat-card class="about-us-card">
    <div fxLayout="row" fxLayoutGap="10">

      <div fxFlex="50%">
        <img src="../../../assets/circuitboard.jpg" alt="circuit board" width="90%" />
        <div fxLayout="row" fxLayoutAlign="center center">
          <div fxLayout="column">
            <img src="../../../assets/intel.png" alt="intel" width="100%" />
          </div>
          <div fxLayout="column">
            <img src="../../../assets/amd.png" alt="amd" width="70%" />
          </div>
        </div>
      </div>

      <div fxFlex="50%">
        <div class="about-content">
          <h2>What is Buildy?</h2>
          <br />
          <h4>
            Want to build a gaming rig, but don't know if your components are
            compatible ?
          </h4>
          <p>
            With Buildy, you can seamlessly choose between dozens of PC
            components, check their specifications, and more!
          </p>
          <p>
            Our software will automatically sort the components and make sure
            they are compatible with each other. Get the best performance for
            the money you pay!
          </p>
          <ul>
            <li class="center-vertical">
              <mat-icon>check_circle_outline</mat-icon>
              &nbsp; Choose between hundreds of PC Components
            </li>
            <li class="center-vertical">
              <mat-icon>check_circle_outline</mat-icon>
              &nbsp; Check their specifications, pricing, and compatibility.
            </li>
            <li class="center-vertical">
              <mat-icon>check_circle_outline</mat-icon>
              <span>
                &nbsp; Don't worry about components that don't go together.
                <strong>Buildy does it for you!</strong>
              </span>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </mat-card>
</section>

<!-- SERVICES -->
<section id="services">
  <header class="section-header">
    <h3>Technology in our software</h3>
    <p>What's powering Buildy and how do we do it</p>
  </header>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="100px">

    <mat-card class="bounce-in">
      <div class="box">
        <div class="icon">
          <img src="https://img.icons8.com/color/48/000000/spring-logo.png" />
        </div>
        <h4 class="title"><a href="https://spring.io/">Java Spring</a></h4>
        <p class="description">
          Java is a general-purpose, multi-paradigm programming language that is
          the main core of Buildy.
        </p>
      </div>
    </mat-card>

    <mat-card class="bounce-in">
      <div class="box">
        <div class="icon">
          <img src="https://img.icons8.com/fluent/48/000000/database.png" />
        </div>
        <h4 class="title">
          <a href="https://www.microsoft.com/en-us/sql-server/sql-server-2019">
            Microsoft SQL Database
          </a>
        </h4>
        <p class="description">
          Microsoft SQL DB. Simple, yet powerful database solution, housing all
          PC components! It's a local database.
        </p>
      </div>
    </mat-card>

    <mat-card class="bounce-in">
      <div class="box">
        <div class="icon">
          <img src="https://img.icons8.com/color/50/000000/angularjs.png" />
        </div>
        <h4 class="title">
          <a href="https://material.angular.io/">Material design</a>
        </h4>
        <p class="description">
          Powering the front-end part of the application, and the complete GUI.
          Very nice, 10/10!
        </p>
      </div>
    </mat-card>

  </div>
</section>

<!-- OUR TEAM -->
<section id="team">

  <header class="section-header">
    <h3>Our team</h3>
    <p>The dream team behind Buildy's seamless performance</p>
  </header>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="100px">

    <mat-card class="bounce-in">
      <mat-card-header>
        <mat-card-title>Nikola Chingoski</mat-card-title>
        <mat-card-subtitle>Chief Executive Officer</mat-card-subtitle>
      </mat-card-header>
      <img class="team-images" mat-card-image src="../../../assets/chingo.jpg" alt="Photo of a Chingoski">
      <mat-card-content>
        <div>
          Connect with Nikola Chingoski:
          <br>
          <span class="center-horizontal">
            <a href="#">
              <img src="https://img.icons8.com/fluent/48/000000/facebook-new.png"/>
            </a>
            <a href="#">
              <img src="https://img.icons8.com/fluent/48/000000/twitter.png"/>
            </a>
            <a href="#">
              <img src="https://img.icons8.com/fluent/48/000000/github.png"/>
            </a>
          </span>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="bounce-in">
      <mat-card-header>
        <mat-card-title>Viktor Stojkoski</mat-card-title>
        <mat-card-subtitle>Chief Technology Officer</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="team-images" mat-card-image src="../../../assets/viksa.jpg" alt="Photo of a Stojkoski">
      <mat-card-content>
        <div>
          Connect with Viktor Stojkoski:
          <br>
          <span class="center-horizontal">
            <a href="#">
              <img src="https://img.icons8.com/fluent/48/000000/facebook-new.png"/>
            </a>
            <a href="#">
              <img src="https://img.icons8.com/fluent/48/000000/twitter.png"/>
            </a>
            <a href="#">
              <img src="https://img.icons8.com/fluent/48/000000/github.png"/>
            </a>
          </span>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="bounce-in">
      <mat-card-header>
        <mat-card-title>Andrej Mazhenkovski</mat-card-title>
        <mat-card-subtitle>Chief Operating Officer</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="team-images" src="../../../assets/mazhe.jpg" alt="Photo of a Mazhenkovski">
      <mat-card-content>
        <div>
          Connect with Andrej Mazhenkovski:
          <br>
          <span class="center-horizontal">
            <a href="#">
              <img src="https://img.icons8.com/fluent/48/000000/facebook-new.png"/>
            </a>
            <a href="#">
              <img src="https://img.icons8.com/fluent/48/000000/twitter.png"/>
            </a>
            <a href="#">
              <img src="https://img.icons8.com/fluent/48/000000/github.png"/>
            </a>
          </span>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="bounce-in">
      <mat-card-header>
        <mat-card-title>Astor The Dog</mat-card-title>
        <mat-card-subtitle>Product Manager</mat-card-subtitle>
      </mat-card-header>
      <img class="team-images" mat-card-image src="../../../assets/astor.jpg" alt="Photo of a Astor">
      <mat-card-content>
        <div>
          Connect with Astor The Dog:
          <br>
          <span class="center-horizontal">
            <a href="#">
              <img src="https://img.icons8.com/fluent/48/000000/facebook-new.png"/>
            </a>
            <a href="#">
              <img src="https://img.icons8.com/fluent/48/000000/twitter.png"/>
            </a>
            <a href="#">
              <img src="https://img.icons8.com/fluent/48/000000/github.png"/>
            </a>
          </span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>

<!-- FAQ -->
<section id="faq">
  <header class="section-header">
    <h3>Frequently Asked Questions</h3>
    <p></p>
  </header>
  <div class="center-horizontal expansion-panels">

    <mat-accordion>
      <mat-expansion-panel class="accordion">
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title">
            Is Buildy free to use ?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="panel-content">Yes, Buildy is completely free to use.</div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel class="accordion">
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title">
            I don't understand how Buildy works, can you help me?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="panel-content">Please feel free to reach out to us at support@buildy.com</div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel class="accordion">
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title">
            Buildy helped me build my PC, where can I donate ?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="panel-content">
          We are very happy that you got yourself a new computer, and complete build using our software.
          You can donate with Bitcoin, Monero, Etherium, or other alt coins!
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel class="accordion">
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title">
            Does Buildy update new components ?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="panel-content">
          We regularly update our site with the latest PC components!
        </div>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
</section>

<!-- Call to action -->
<section id="cta" class="center-vertical center-horizontal">
  <div>
    Ready to give it a try ?
  </div>
  <button mat-raised-button color="primary" class="try-buildy-button" routerLink="/build">
    Try Buildy
  </button>
</section>
