<header class="section-header">
  <h3>Contact us</h3>
</header>

<!-- CONTACT -->
<section id="contact">
  <div fxLayout fxLayoutAlign="column" fxFlexAlign="center center">

    <div class="contact-us">
      <iframe
        src="https://maps.google.com/maps?q=Rugjer%20Boshkovikj%2016%2C%20Skopje%201000&t=&z=13&ie=UTF8&iwloc=&output=embed"
        frameborder="0"
        style="border: 0; width: 100%; height: 312px;"
        allowfullscreen>
      </iframe>
    </div>

    <div class="form">
      <form [formGroup]="formGroup">
        <mat-form-field>
          <mat-label>Enter your name</mat-label>
          <input matInput type="text" formControlName="name" />
          <mat-error *ngIf="formGroup.get('name').hasError('required')">
            Name field is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Enter your email address</mat-label>
          <input matInput type="email" formControlName="email" />
          <mat-error *ngIf="formGroup.get('email').hasError('required')">
            Email field is required
          </mat-error>
          <mat-error *ngIf="formGroup.get('email').hasError('email')">
            Enter a valid email address
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Enter your message</mat-label>
          <textarea rows="6" matInput formControlName="message"></textarea>
          <mat-error *ngIf="formGroup.get('message').hasError('required')">
            Message field is required
          </mat-error>
        </mat-form-field>

        <button
          [disabled]="formGroup.invalid"
          mat-flat-button
          color="primary"
          (click)="sendMail()">
          Send
        </button>
      </form>
    </div>
  </div>
</section>

<!-- CONTACT INFO -->
<section id="contact-info">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="100px">

    <mat-card class="bounce-in">
      <div class="box">
        <div class="icon">
          <img src="https://img.icons8.com/office/40/000000/marker.png" />
        </div>
        <h4 class="title">
          <a
            target="_blank"
            href="https://www.google.com/maps/place/Rugjer+Boshkovikj+16,+Skopje+1000/@42.0041371,21.4074209,17z/data=!3m1!4b1!4m5!3m4!1s0x13541443605a5d27:0x7ebef1bd69f11660!8m2!3d42.0041331!4d21.4096096">
            Rugjer Boshkovikj 16, Skopje 1000
          </a>
        </h4>
      </div>
    </mat-card>

    <mat-card class="bounce-in">
      <div class="box">
        <div class="icon">
          <img src="https://img.icons8.com/office/40/000000/phone.png" />
        </div>
        <h4 class="title">
          <a href="tel:+38971123456">
            +389 71 123 456
          </a>
        </h4>
      </div>
    </mat-card>

    <mat-card class="bounce-in">
      <div class="box">
        <div class="icon">
          <img src="https://img.icons8.com/office/40/000000/clock.png" />
        </div>
        <h4 class="title">
          <a href="#"
            >Mon-Fri: 09 - 16 CET<br />
            Sat: 10 - 14 CET</a>
        </h4>
      </div>
    </mat-card>

  </div>
</section>
