@import './../../../../node_modules/@angular/material/theming';

.header-logo {
  cursor: pointer;
  max-height: 60px;
  margin: 0 50px 0 15px;
}

::ng-deep .mat-toolbar-row {
  background-color: var(--main-menu-color);
  border-color: #00006a;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(var(--secondary-menu-color)), to(var(--main-menu-color)));
  background-image: -webkit-linear-gradient(top, var(--secondary-menu-color), 0%, var(--main-menu-color), 100%);
  background-image: -moz-linear-gradient(top, var(--secondary-menu-color), 0%, var(--main-menu-color), 100%);
  background-image: linear-gradient(to bottom, var(--secondary-menu-color), 0%, var(--main-menu-color), 100%);
  background-repeat: repeat-x;
  text-shadow: var(--main-menu-text-shadows);
  margin: 0 !important;
}

:root {
  --main-menu-color: #294272;
  --secondary-menu-color: #365898;
  --main-menu-text-shadows: 1px 1px 2px #000000;
  --footer-color: #2a2a2a;
}

.flex-expand {
  flex: 1 1 auto;
  text-align: center;
}

.menu-spacer {
  flex: 1 1 auto;
}
