<div class="home-page-container">
  <div class="image-container">
    <div class="desktop-content">
      <img src="../../../assets/h200_case.png" class="pc-case" />
      <div>
        <h1>BUILDING PCs<br /><br />MADE SIMPLE</h1>
        <br />
        <button
          mat-flat-button
          color="primary"
          (click)="navigateToBuild()"
          class="build-now-button"
        >
          BUILD NOW
        </button>
        <!-- @Html.ActionLink("BUILD NOW", "Create", "Computers", null, new { @class = "btn btn-primary btn-block btn-build" }) -->
      </div>
    </div>
  </div>

  <div class="row our-pcs-text">
    Some of our PCs
  </div>

  <div class="row our-pcs">
    <div class="row our-pcs-row">
      <div class="col pc-viksa">
        <div class="prebuild-content">
          <h2>Viktor's Workstation</h2>
          <!-- @Html.ActionLink("Buy NOW!", "GetOursComputer", "Computers", new { id = 1 }, new { @class = "btn btn-primary btn-sm" }) -->
          <button mat-flat-button color="primary" (click)="navigateToBuild()">
            Buy NOW!
          </button>
        </div>
        <img
          src="../../../assets/h710_transparent.png"
          class="our-pcs-case-image"
        />
      </div>
      <div class="col pc-cingo">
        <div class="prebuild-content">
          <h2>Nikola's Workstation</h2>
          <!-- @Html.ActionLink("Buy NOW!", "GetOursComputer", "Computers", new { id = 2 }, new { @class = "btn btn-primary btn-sm" }) -->
          <button mat-flat-button color="primary" (click)="navigateToBuild()">
            Buy NOW!
          </button>
        </div>
        <img
          src="../../../assets/h710_black_transparent.png"
          class="our-pcs-case-image"
        />
      </div>
    </div>

    <div class="row our-pcs-row">
      <div class="col pc-maze">
        <div class="prebuild-content">
          <h2>Andrej's Workstation</h2>
          <!-- @Html.ActionLink("Buy NOW!", "GetOursComputer", "Computers", new { id = 3 }, new { @class = "btn btn-primary btn-sm" }) -->
          <button mat-flat-button color="primary" (click)="navigateToBuild()">
            Buy NOW!
          </button>
        </div>
        <img
          src="../../../assets/h210i_transparent.png"
          alt="imageplaceholder"
          class="our-pcs-case-image"
        />
      </div>
      <div class="col pc-astor">
        <div class="prebuild-content">
          <h2>Astor's Workstation</h2>
          <!-- @Html.ActionLink("Buy NOW!", "GetOursComputer", "Computers", new { id = 4 }, new { @class = "btn btn-primary btn-sm" }) -->
          <button mat-flat-button color="primary" (click)="navigateToBuild()">
            Buy NOW!
          </button>
        </div>
        <img
          src="../../../assets/h510_transparent.png"
          alt="imageplaceholder"
          class="our-pcs-case-image"
        />
      </div>
    </div>
  </div>

  <div class="row features">
    <div fxFlex="25%" class="col-md-3">
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">
            <img
              src="../../../assets/warranty-icon.png"
              class="features-images"
            />
          </h5>
          <p class="card-text">3 Year Warranty Included</p>
        </div>
      </div>
    </div>
    <div fxFlex="25%" class="col-md-3">
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">
            <img
              src="../../../assets/open24-7_transparent.png"
              class="features-images"
            />
          </h5>
          <p class="card-text">With 24/7 Live Call Support</p>
        </div>
      </div>
    </div>
    <div fxFlex="25%" class="col-md-3">
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">
            <img
              src="../../../assets/cashback_transparent.png"
              class="features-images"
            />
          </h5>
          <p class="card-text">A Money-Back Guarantee If Not Satisfied</p>
        </div>
      </div>
    </div>
    <div fxFlex="25%" class="col-md-3">
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">
            <img
              src="../../../assets/best_price_icon_transparent.png"
              class="features-images"
            />
          </h5>
          <p class="card-text">Known for our low prices</p>
        </div>
      </div>
    </div>
  </div>

  <div class="our-work">
    <div class="our-work-body">
      <div class="our-work-title">
        <h1>Pick parts. Check compatibility. Build PC.</h1>
      </div>

      <div class="our-work-content">
        <p>
          Buildy provides dozens of computer parts to select from, check their
          compatibility and build your virtual PC. It doesn't matter if you are
          rookie PC builder or experienced one, our software will provide you
          guidelines for the PC assemble with affordable pricing.
        </p>
      </div>
    </div>

    <img
      src="../../../assets/h500_cm_case_transparent.png"
      class="our-work-image"
    />
  </div>

  <div class="social-media">
    <div class="social-text">
      <h1>Visit us on our social media.</h1>
    </div>

    <div class="social-icons">
      <a href=""
        ><img
          class="social-icon"
          src="https://img.icons8.com/fluent/96/000000/facebook-new.png"
      /></a>
      <a href=""
        ><img
          class="social-icon"
          src="https://img.icons8.com/fluent/96/000000/twitter.png"
      /></a>
      <a href=""
        ><img
          class="social-icon"
          src="https://img.icons8.com/fluent/96/000000/github.png"
      /></a>
      <a href=""
        ><img
          class="social-icon"
          src="https://img.icons8.com/color/96/000000/linkedin.png"
      /></a>
    </div>
  </div>
</div>
