footer {
  background-color: #2a2a2a;
  width: 100%;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-top: 20px;
  bottom: 0;

  & > p {
    margin: 0 !important;
  }

  & > a {
    position: absolute;
    right: 5%;
  }
}

.logo {
  cursor: pointer;
  max-height: 50px;
  height: calc(5px + 10vw);
}
